.App {
  /* text-align: center; */
  
  font-size: 25px;
  position: relative;
  /* background-color: lightgrey; */
  width: 21cm;
        height: 29.7cm;
        margin: 0 auto; 

}




/* .rezume {
  position: relative;
  background-color: lightgrey;
  width: 21cm;
        height: 29.7cm;
        margin: 30mm 45mm 30mm 45mm; 
} */
.photo {
  position: absolute;
width: 200px;
  top: -10px;
  right: 10px;
}
.rezume_body{
  text-align: left;
  padding-left: -40px;
  padding-top: 50px;
  margin: 0 auto;

}
.item {
  display: flex;
  margin-bottom: 15px; 
}

.item_title{
  width: 20%;
  padding-right: 10px;
  font-weight: 600;
}
.site_link{
  font-weight: 600;
}
.site_link:hover + .diploma{
  display: block;
}
.diploma{
  display: none;
  position: absolute;
  top: -46px;
  left: -401px;
}

.parent {
  position: relative;
}
.en{
  font-weight: 600;
}

.sertificate{
  position: absolute;
  top: -505px;
  left: 0;
  display: none;
  width: 900px;
}

.en:hover + .sertificate{
  display: block;
}
