.App {
  /* text-align: center; */
  
  font-size: 25px;
  position: relative;
  /* background-color: lightgrey; */
  width: 21cm;
        height: 29.7cm;
        margin: 0 auto; 

}k




/* .rezume {
  position: relative;
  background-color: lightgrey;
  width: 21cm;
        height: 29.7cm;
        margin: 30mm 45mm 30mm 45mm; 
} */
.photo {
  position: absolute;
width: 200px;
  top: -10px;
  right: 10px;
}
.rezume_body{
  text-align: left;
  padding-left: -40px;
  padding-top: 50px;
  margin: 0 auto;

}
.item {
  display: flex;
  margin-bottom: 15px; 
}

.item_title{
  width: 20%;
  padding-right: 10px;
  font-weight: 600;
}



/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
